# Personal
/personal_resources/
/personal_information/
/submission_records/
/references/
/archives/
particulars.tex

# Mac
.DS_Store

# latex output
output/

/documents/test/

# external files
/external_resources/